.content {
    overflow-x: hidden;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 18pt;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#particles-js {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #0b0c10;
    /* background-color: #0c0032; */
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    font-size: 32pt;
    line-height: 36pt;
    color: #ffffff;
    margin-bottom: 25px;
}

#jumbotron {
    padding: 0 10px;
    height: calc(100vh + 50px);
}

span#name {
    /* color: #c30740; */
    color: #86c232;
}

.nav {
    bottom: 0;
    left: 0;
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 100%;
    background: #1f2833;
    z-index: 99;
    border-bottom: 3px solid #86c232;
}

.row {
    flex-direction: row;

}

.wrap {
    flex-wrap: wrap;
}

.nav-links {
    width: 100%;
    max-width: 1200px;
    justify-content: flex-start;
}

.nav-links a {
    padding: 14px 20px;
    text-decoration: none;
    color: #ffffff;
}

#about,
#portfolio,
#contact {
    color: #1f2833;
    background: #ffffff;
    padding: 50px 0 100px 0;
    z-index: 1;
}

#portfolio {
    background: #F5F5F5
}

#footer {
    background-color: #1f2833;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    animation: slideDown 0.3s;
}

.header {
    font-size: 30pt;
    font-weight: 700;
    margin-top: 25px;
}

.underline {
    background: #1f2833;
    height: 4px;
    width: 100px;
    margin: 20px 0 50px 0;
    border-radius: 2px;
}

.section-header {
    font-size: 18pt;
    font-weight: 700;
    margin-bottom: 25px;
}

.self {
    width: 100%;
    margin-bottom: 50px;
}

.self img {
    margin: 0 30px 0 0;
    
}

.bio {
    margin: 0 0 0 30px;
}

.bio p{
    text-align: center;
    width: 500px;
}

.fab {
    font-size: 100px;
    padding-bottom: 25px;
}

.fab2 {
    font-size: 30px;
    margin: 0px 2px 0px 2px;
}

.icon-wrap {
    padding: 25px;
}

.icon-wrap .section-header {
    margin: 0 0 25px 0;
}

.highlight {
    color: #86c232 !important;
}

.task {
    height: 260px;
}

.task img {
    width: 400px;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

label {
    text-align: left;
}

.projects .task {
    position: relative;
}

.fade {
    opacity: 0 !important;
}

.projects .section-header {
    position: absolute;
    top: 0px;
    color: #1f2833;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.projects p {
    position: absolute;
    top: 85px;
    color: #1f2833;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    padding: 0px 10px 0px 10px;
}

.projects .made-with {
    position: absolute;
    top: 160px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.portlink {
    position: absolute;
    bottom: 0px;
    color: #1f2833;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border: 2px solid #86c232;
    border-radius: 5px;
    font-weight: 400;
    left: 100px;
}

.gitlink {
    position: absolute;
    bottom: 0px;
    color: #1f2833;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    border: 2px solid #86c232;
    border-radius: 5px;
    font-weight: 400;
    right: 100px;
}

.projects .gitimg {
    width: 50px;
    position: absolute;
    opacity: 0;
    bottom: -50px;
    transition: all 0.4s ease-in-out;
}

.projects a:hover{
    color: #fff;
    background-color: #86c232;
}

.move-in {
    opacity: 1 !important;
    top: 50px !important;
}

.move-down {
    opacity: 1 !important;
    bottom: 75px !important;
}

.move-down2 {
    opacity: 1 !important;
    bottom: 25px !important;
}

.contact-wrap {
    width: 560px;
}

.contact-title {
    position: relative;
}

.contact-title span{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.contact-form {
    padding: 40px 55px 48px 55px;
    width: 100%;
}

.input-wrap {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.form-input {
    display: block;
    width: 100%;
    font-size: 12pt;
    padding: 0 25px 0 10px;
    line-height: 1.2;
    height: 55px;
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

input,
textarea {
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
}

textarea {resize: none;}

.text-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 0 20px;
    margin-top: 25px;
}

.form-text{
    width: 100%;
    font-size: 12pt;
    padding-top: 25px;
    min-height: 160px;
}

button {
    font-family: "Open Sans", sans-serif;
}

#form-button {
    color: #fff;
    background-color: #86c232;
    border: 2px solid transparent;
    border-bottom-color: rgba(0,0,0,0.35);
    border-right-color: rgba(0,0,0,0.35);
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-weight: 700;
    font-size: 12pt;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    text-shadow: 1px 1px #1f2833;
}

#form-button:hover {
    background-color: #7bb32e;
}

#form-button:active {
    border-bottom-width: 0;
    border-right-width: 0;
    margin-top: 2px;
    margin-left: 2px;
}

.intersect {
    opacity: 0;
}

#footer {
    padding: 30px 0 20px 0;
}

.socials-icon-wrap {
    padding: 15px;
    border-radius: 50%;
    background-color: #1f2833;
    transition: all 0.3s ease-in;
}

.socials-icon-wrap:hover{
    background-color: #86c232;
}

.menu-icon {
    display: none;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0%{
        opacity: 0;
        transform: translateX(300px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 860px) and (min-width: 769px){

    .self img {
        margin: 0 0 30px 0;
    }

    .bio {
        margin: 0;
    }

}

@media screen and (max-width: 768px){
    .info {
        font-size: 24pt;
    }

    .self img {
        margin: 0 0 30px 0;
    }

    .self {
        width: 80%;
    }

    .bio {
        margin: 0;
    }
    
    .bio p {
        margin: 0;
        width: 70vw;
        font-size: 12pt;
    }

    .section-header {
        margin-bottom: 25px;
        font-size: 14pt;

    }

    .contact-wrap {
        width: 90%;
    }

    .contact-title img {
        width: 100%;
    }

    .contact-form {
        padding: 20px 40px 20px 40px; 
    }

    #contact {
        padding: 50px 0 50px 0;
    }

    .nav-links {
        max-width: 1200px;
        width: 100%;
        position: absolute;
        top: 53px;
        background-color: #1f2833;
        overflow: hidden;
        height: 0;
        transition: height .3s ease-out;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links a {
        display: block;
    }

    .menu-icon {
        position: absolute;
        right: 5vw;
        margin: 0 auto;
        font-size: 30pt;
        line-height: 36pt;
        top: 0;
        display: inline-block;
        cursor: pointer;
    }

    .toggle-menu {
        height: 220px;
    }
    
    .header {
        font-size: 26pt;
        margin: 0;
    }
}

@media screen and (max-width: 414px){
    .task {
        height: 221px;
        width: 340px;
    }

    .task img {
        height: 221px;
        width: 340px;
    }
}
